@import 'variables';
%extend_1 {
  font-family: $font_5,$font_1,$font_2,$font_3,$font_4;
  text-transform: uppercase;
  font-weight: 700;
}
%extend_2 {
  padding:  0;
  border: none;
  border-top: solid 5px;
  text-align: center;
  max-width: 250px;
  margin: 25px auto 30px;
}

%extend_3 {
  content: "\f005";
  font-family: $font_6;
  display: inline-block;
  position: relative;
  top: -0.8em;
  font-size: 2em;
  padding:0 0.25em ;
}
