$color_mountain_neadow_approx: #18bc9c;
$color: white;
$color_pickled_bluewood_approx: #2c3e50;
$color_mountain_neadow_90_approx: rgba($color_mountain_neadow_approx,0.9);

$color_gallery_approx: #eeeeee;
$color_ebony_clay_approx: #233140;
$color_shark_approx: #1a242f;
$color_mirage_approx: #161f29;
$color_elf_green_approx: #128f76;

//fonts
$font_0: Lato;
$font_1: Helvetica neve;
$font_2: Helvetica;
$font_3: Arial;
$font_4: sans-serif;
$font_5: Montserrat;
$font_6: FontAwesome;



