@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'variables';
@import 'extends';

body {
  font-family: $font_0, $font_2, $font_2, $font_3, $font_4;
  overflow-x: hidden;

}

p {
  font-size: 20px;
  &.small {
    font-size: 16px
  }
}

a {
  color: $color_mountain_neadow_approx;
  &:hover, &:focus, &:active, &.active {
    color: $color_mountain_neadow_approx;
  }
}

h1, h2, h3, h4, h5, h6 {
  @extend %extend_1;
}

header {
  margin-top: 50px;
  text-align: center;
  border-bottom: 20px solid $color_mountain_neadow_approx;
}

@media(min-width: 768px) {
  header {
    margin-top: 100px;
  }
}

hr {
  &.star-light, &.star-primary {
    @extend %extend_2;
    border-color: white;
    &:after {
      @extend %extend_3;
      background-color: $color_mountain_neadow_approx;
      color: white;
    }
  }
  &.star-primary {
    border-color: $color_pickled_bluewood_approx;
    &:after {
      background-color: white;
      color: $color_pickled_bluewood_approx;
    }
  }
}

.navbar-custom {
  background: $color_pickled_bluewood_approx;
  font-family: $font_5, $font_1, $font_2, $font_3, $font_4;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  .navbar-brand {
    color: white;
  }
  &:hover &:focus, &:active, &.active {
    color: white;
  }
  .navbar-nav {
    letter-spacing: 2px;
    li {
      a {
        color: white;
        &:hover {
          color: $color_mountain_neadow_approx;
        }
        &:focus, &:active {
          color: white;
        }
        &.active {
          color: white;
          background: $color_mountain_neadow_approx;
          &:hover {
            color: white;
            background: $color_mountain_neadow_approx;
          }
        }
      }
    }
  }
  .navbar-toggle {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    border-color: white;
    &:hover, &:hover {
      background-color: $color_mountain_neadow_approx;
      color: white;
      border-color: $color_mountain_neadow_approx;
    }
  }
}

@media(min-width: 768px) {
  section {
    padding: 100px 0;
    &.first {
      padding-top: 75px;
    }
  }
}

section {
  padding: 75px 0;
  h2 {
    margin: 0;
    font-size: 3em;
  }
  &.success {
    background: $color_mountain_neadow_approx;
    color: white;
  }
}



